html{
    scroll-behavior: smooth;
  }

*:focus{
    outline: 2px solid #000000;
}

/* Navigation styling. This is set up in a way that displays a hamburger menu when in mobile view and an expanded menu in larger viewports. This is the reason that it some of this code is set up using a media query uisng "max-width". */

header{
    background-color: #6B705C;
    width: 100%;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a.nav-link{
    font-size: 30px;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    font-family: "Bad Script", cursive;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    text-decoration: underline;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition :all 0.3s ease-in-out;
    transition :all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:599px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6B705C;
        width: 100%;
        text-align:center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

}

/* End navigation styling */

.offscreen{
    position: absolute;
    left: -9999px;
    background-color: #B7B7A4;
    padding: 6px;
}

.offscreen:focus{
    left: 10px;
}

.active{
    text-transform: uppercase;
    font-weight: bold;
    }

body {
    font-style: normal;
    background-color: #FFE8D6;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

h2{
    text-align: center;
    font-size: 35px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    }

h3{
    text-align: left;
    font-size: 25px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    }

h4{
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    }

p{
    text-align: left;
    font-size: 20px;
    color: #000000;
    background-color: #A5A58D;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding: 10px;
    margin: 10px;
    }

.container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

/* Recent reads styling */

.book{
    display: block;
    width: auto;
    height: 900px;
    border: solid 3px #CB997E;
    padding: 20px;
    background-color: #DDBEA9;
    margin: 10px;
    overflow: auto;
}

.book p{
    background-color: transparent;
    padding: 0;
}

.book h3{
    font-weight: bold;
    text-align: center;
}

.book h4{
    text-align: center;
}

.book img{
    padding: 10px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Home page styling */

.about-me{
    background-color: #A5A58D;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.about-me h2{
    text-shadow: none;
}

.about-me p{
    background-color: transparent;
    padding: 0;
    grid-column: 1;
    grid-row: 2;
}

.about-me-img{
    display: flex;
    justify-content: center;
    background-color: #A5A58D;
    border-radius: 10px;
}

.about-me-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

.welcome{
    background-color: #B7B7A4;
    border-radius: 10px;
    margin: 10px;
}

.welcome p{
    background-color: transparent;
}

.favorite-books{
    background-color: #DDBEA9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.favorite-books h3{
    padding-bottom: 10px;
}

.favorite-books p{
    background-color: transparent;
}

.favorite-things{
    background-color: #CB997E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.favorite-things p{
    background-color: transparent;
}

.favorite-books li, .favorite-things li{
    list-style: circle;
    margin-left: 20px;
    font-size: 20px;
}

/* Recommendation styling */

.rec-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

.gallery{
    background-color: #DDBEA9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border: solid 3px #CB997E;
}

.gallery img{
    width: 300px;
    margin: 0 auto;
    display: block;
}

figcaption{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.controls{
    margin: 0px 20px;
}

.controls button{
    background-color: #6B705C;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
/*
.myList textarea{
    grid-column: 1;
    grid-row: 3;
    width: 300px;
    height: 300px;
}

.myList button{
    /* grid-column: 1;
    grid-row: 4; */
    /* background-color: #6B705C;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.myList{
    display: block;
} */

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        outline: none;
        background-color: #6B705C ;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
      }

     #myBtn:hover {
        text-decoration: underline;
        background-color: #6B705C ;
        color: white;
      }

/* Tablet view */

@media only screen and (min-width: 600px){

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .recent-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .rec-container{
        grid-template-columns: 1fr 1fr;
    }

    h1{
        grid-column: 1 / span 2;
    }

    .welcome{
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .about-me{
        grid-column: 1/ span 2;
        grid-row: 3;
    }
    .about-me-img{
        grid-column: 1/ span 2;
        grid-row: 4
    }

    .favorite-books{
        grid-column: 1/ span 1;
        grid-row: 5;
    }

    .favorite-things{
        grid-column: 2/ span 3;
        grid-row: 6;
    }

    .home-links{
        grid-column: 1;
        grid-row: 3;
    }
}


/* Desktop view */

@media only screen and (min-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .recent-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    h1{
        grid-column: 2;
    }

    .welcome{
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .about-me{
        grid-column: 2/ span 2;
        grid-row: 3;
    }

    .about-me-img{
        grid-column: 2/ span 2;
        grid-row: 4
    }

    .favorite-books{
        grid-column: 1/ span 2;
        grid-row: 5;
    }

    .favorite-things{
        grid-column: 2/ span 3;
        grid-row: 6;
    }

    .home-links{
        grid-column: 1;
        grid-row: 3;
    }

    .recent-intro{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recent-intro p:first-of-type{
        grid-column: 1/ span 2;
    }

    .recent-intro p:last-of-type{
        grid-column: 2/ span 2;
    }

    .rec-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rec-intro{
        grid-column: 1/ span 2;
        grid-row: 2;
    }

    .directions{
        grid-column: 2/ span 2;
        grid-row: 3;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }

    .skip a{
      -webkit-transition: none;
      transition: none;
     }

     .nav-link .bar .nav-menu{
        -webkit-transition: none;
        transition: none;
     }
  }